{
  "project_id": "project-name.example.com",
  "source_image_family": "image-family-name.example.com",
  "image_family": "name-base",
  "image_name": "name-base-{{timestamp}}",
  "image_description": "The purpose of VM image"
}
